/*
External CSS file
*/body{
    max-height: 1000px;
    color: black;
    background-color: bisque;
    font-family: Roboto;
    font-size: 16px;
    margin: auto;
}
p{
    padding-left:20px;
}
h4{
    font: italic small-caps bolder 28px arial, sans-serif ;
}
div{
    border:none;
    margin:5px;
    padding:0px;
    }
    #box{
        padding-left: 20px;
        padding-top: 15px;
    }
    .right{
        float: right;
        padding-right: 40px;
        
    }
    #image{
    float:left;
    padding: 7px 20px 20px 0px;
    margin-bottom: 20px;
   
    }
#identity{
    overflow: auto;
}
#Background-image{
        background-image: url("img/Batman1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 350px;
        padding-top:50px;
        color:#fff;
        margin:auto;
        margin-top:25px;
    }
    #content{
        background-color: rgba(0, 0, 0, 0.7);
        max-width:450px;
        padding: 10px 30px;
        margin-top: 50px;
    }
    .thumbnail{
        display: inline-block;
        height: auto;
        padding: 4px;
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px #a4a4a4 solid;
        text-align: center;
        color: #666;
        margin: 50px;
    }
    
    table{
    border: 1px solid;
    width:1000px;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
    border: 1px #a4a4a4 solid;
    height: 28px;
}
th{
    text-align: left;
    background-color: #ececec;
}
#movies{
    padding: 20px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}
.logo{
    float: left;
    padding-bottom: 30px;
}
#header{
    padding:60px 0px;
    border-bottom: 1px solid;
}
input{
    padding: 14px 70px;
    font-size: 15px;
    margin-bottom: 30px;
}
#subscribe{
    border: none;
    background-color: #26211f;
    color: white;
    font-size: 16px;
    margin: 4px -4px;
    padding: 16px 40px;
}
.container{
    padding: 20px;
    margin:auto;
    width: 100%;
    overflow: hidden;
}
@media (min-width:320px){  .container {
                               width: 320px;
                           } }
@media (min-width:481px){  .container {
                               width: 481px;
                           } }
@media (min-width:641px){  .container {
                               width: 641px;
                           } }
@media (min-width:961px){  .container {
                               width: 961px;
                           } }                           
@media (min-width:1000px){  .container {
                               width: 1000px;
                           } }

@media (max-width:481px){  .box {
                               width: 481px;
                           } 
                           #image{
                               width: 100%;
                           }
                           h2{
                               text-align: center;
                           }
}